version: "3.9"

services:
  app:
    build: .
    container_name: 315hw3-streamlit
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    environment:
      STREAMLIT_SERVER_HEADLESS: "true"
      STREAMLIT_SERVER_PORT: "8501"
      STREAMLIT_SERVER_ADDRESS: "0.0.0.0"
